<header class="header">
    <div class="container container_header">
        <div class="header__content">
            <div class="header__left header-left">
                <div class="header-left__logo">
                    <span class="header-left__logo-name">
                        Beautyness
                    </span>
                </div>
                <div class="header-left__tel">
                    <a href="tel:89817659172" class="header-left__tel-link">
                        Call Us - (+22) 123 456 7890
                    </a>
                </div>
            </div>
            <div class="header__right header-right">
                <nav class="header-right__nav navigation navigation_header">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Home</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">About</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Pages</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-right__social social social_head">
                    <a href="#" class="social__link"></a>
                    <a href="#" class="social__link"></a>
                    <a href="#" class="social__link"></a>
                </div>
                <button class="header-right__btn btn btn_primary btn_reserv">Reservation</button>
            </div>
            <button class="burger-menu">
                <span class="burger-menu__item"></span>
            </button>
        </div>
    </div>
</header>