<section class="services">
    <div class="container container_services">
        <div class="services__content">
            <div class="service-card services__item">
                <img src="@img/service-01.jpg" alt="Spa & Massage" class="service-card__img">
                <a href="https://www.google.com/" target="blink">
                    <h2 class="service-card__title">Spa & Massage</h2>
                </a>
                <p class="service-card__descr">
                    Your wellness goals and the areas of preference,
                    then unwind with a customized massage experience.
                </p>
                <a href="https://www.google.com/" target="blink" class="service-card__btn btn btn_secondary">
                    Read more
                </a>
            </div>
            <div class="service-card services__item">
                <img src="@img/service-02.jpg" alt="Hair & Beauty" class="service-card__img">
                <a href="https://www.google.com/" target="blink">
                    <h2 class="service-card__title">Hair & Beauty</h2>
                </a>
                <p class="service-card__descr">
                    Combining skin-type-specific cleansing & toning,
                    exfoliation, deep-pore cleansing extractions customized
                    treatment.
                </p>
                <a href="https://www.google.com/" target="blink" class="service-card__btn btn btn_secondary">
                    Read more
                </a>
            </div>
            <div class="service-card services__item">
                <img src="@img/service-03.jpg" alt="Body Treatments" class="service-card__img">
                <a href="https://www.google.com/" target="blink">
                    <h2 class="service-card__title">Body Treatments</h2>
                </a>
                <p class="service-card__descr">
                    Offers therapeutic benefits such as relief of muscle
                    tension and increased circulation to the areas worked.
                </p>
                <a href="https://www.google.com/" target="blink" class="service-card__btn btn btn_secondary">
                    Read more</a>
            </div>
        </div>
    </div>
</section>