<section class="benefits">
    <div class="benefits__container container">
        <div class="benefits__content">
            <h2 class="benefits__title">Получите такое же удовольствие в постели, как султан от своего гарема!</h2>
            <div class="benefits__content-top">
            <img src="img/benefits-01.jpg" alt="Султан и горем" class="benefits__img">
            <div class="benefits__descr">
                <p class="benefits__text">Какие ассоциации возникают при упоминании гарема?
                    Красивые девушки, сидящие на софах. Сауны, где наложницы натирают себя ароматическими смесями.
                    Битва, в которой сотни красавиц сражаются за внимание повелителя</p>
                <p class="benefits__text">Такие же ощущения вы испытаете после приема <span>Силы Султана!</span></p>
            </div>
            </div>
            <div class="benefits__content-bottom">
                <div class="benefits__wrapper-list wrapper-list">
                        <h2 class="benefits__title-list">Как на Востоке справлялись <span>с многоженством?</span></h2>
                        <ul class="benefits__list">
                            <li class="benefits__item benefits-item">
                                <div class="benefits-item__content">
                                    <h3 class="benefits-item__title">Сексуальные обряды</h3>
                                </div>
                            </li>
                            <li class="benefits__item benefits-item">
                                <div class="benefits-item__content">
                                    <h3 class="benefits-item__title">Натуральные стимуляторы <br> <span>сексуальной активности</span></h3>
                                </div>
                            </li>
                            <li class="benefits__item benefits-item">
                                <div class="benefits-item__content">
                                    <h3 class="benefits-item__title">Интимная гимнастика</h3>
                                </div>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>