<section class="compound">
    <div class="compound__container container">
        <div class="compound__content">
            <h2 class="compound__title">
                Каждая таблетка – это мощный комплекс
                <span>100%</span> натуральных компонентов.
            </h2>
            <ul class="compound__list compound-list">
                <li class="compound-list__item">
                    <div class="compound-list__item-content">
                        <h3 class="compound-list__item-title">
                            Корень женьшеня обыкновенного
                        </h3>
                        <p class="compound-list__item-descr">
                            Повышает половое влечение, восполняет
                            дефицит витаминов. Увеличивает синтез
                            тестостерона, усиливает приток крови к
                            члену, что обеспечивает стойкую и
                            продолжительную эрекцию.
                        </p>
                    </div>
                </li>
                <li class="compound-list__item">
                    <div class="compound-list__item-content">
                        <h3 class="compound-list__item-title">
                            Экстракт коры муира пуама
                        </h3>
                        <p class="compound-list__item-descr">
                            Улучшает качество спермы и подвижность сперматозоидов.
                            Поддерживают необходимый уровень тестостерона.
                        </p>
                    </div>
                </li>
                <li class="compound-list__item">
                    <div class="compound-list__item-content">
                        <h3 class="compound-list__item-title">
                            Корень эврикомы длиннолистной
                        </h3>
                        <p class="compound-list__item-descr">
                            Сильный афродизиак, повышает сексуальное влечение и
                            положительно влияет на качество полового акта.
                            Улучшает выносливость и физическую активность.
                        </p>
                    </div>
                </li>
                <li class="compound-list__item">
                    <div class="compound-list__item-content">
                        <h3 class="compound-list__item-title">
                            Ягоды<br>асаи 
                        </h3>
                        <p class="compound-list__item-descr">
                            Растительный аналог «Виагры»: способствует стойкой эрекции,
                            усиливает сексуальное возбуждение и пролонгирует
                            ощущения во время оргазма.
                        </p>
                    </div>
                </li>
        </div>
    </div>
</section>