<section class="info">
    <div class="info__container container">
        <div class="info__content info__content_exposition">
            <img src="img/exposition-01.jpg" alt="" class="info__img info__img_exposition">
            <div class="info__descr info__descr_exposition">
                <p class="info__text info__text_exposition">
                   <span>Сила Султана</span> решает проблему комплексно,
                   а не просто временно устраняет синдромы
                </p>
                <p class="info__text info__text_exposition">
                    Рекомендован врачами для лечения, профилактики и получения новых ощущений
                    Никаких побочных эффектов и негативного воздействия на организм.
                 </p>
            </div>
        </div>
    </div>
</section>
