<section class="form-intro">
    <div class="form-intro__container container">
        <div class="form-intro__content">
                    <form class="form form_intro" action="#" method="post" enctype="multipart/form-data">
                        <div class="form__descr-top">
                            Успей получить <span>Силу Султана бесплатно*</span>, пока действует акция
                        </div>
                        <div class="form__timer form-timer">
                            <span class="form-timer__title">Акция* закончится через</span>
                            <div class="form-timer__counter">
                                <span class="form-timer__hour form-timer__table">01</span>
                                <span class="form-timer__minutes form-timer__table">01</span>
                                <span class="form-timer__seconds form-timer__table">01</span>
                            </div>
                        </div>
                        <div class="form__input">
                            <span class="form__name-input">Ваше имя*</span>
                            <input class="form__input-window" name="username" type="text"/>
                        </div>
                        <div class="form__input form__input_last-child">
                            <span class="form__name-input">Контактный телефон*</span>
                            <input class="form__input-window" name="userphone" type="tel"/>
                        </div>
                        <button class="btn btn_form" type="submit">Заказать препорат *бесплатно</button>
                        <div class="form__descr-bottom"><span>*при заказе курса</span><br>
                            Осталось всего 23 бесплатных упаковок
                        </div>
                    </form>
            </div>
        </div>
    </div>
</section>