<section class="how-to-work">
    <div class="how-to-work__container container">
        <div class="how-to-work__content">
            <div class="how-to-work__top">
                <img src="img/how-to-work-item-01.png" alt="" class="how-to-work__img">
                <p class="how-to-work__descr">
                    Сила Султана разработана на основе древнетурецких рецептов,
                    которые описаны еще в старинных преданиях летописцев-монахов.
                    Вы почувствуете себя настоящим повелителем!
                </p>
            </div>
            <div class="how-to-work__bottom">
                <div class="how-to-work__wrapper-list wrapper-list">
                    <h2 class="how-to-work__title">Как <span>Сила Султана</span> борется с проблемой?</h2>
                    <ul class="how-to-work__list">
                        <li class="how-to-work__list-item">Усиливает ощущения</li>
                        <li class="how-to-work__list-item">Обеспечивает стойкую и твердую эрекцию</li>
                        <li class="how-to-work__list-item">Стимулирует естественную выработку тестостерона</li>
                        <li class="how-to-work__list-item">Повышает либидо и решительность</li>
                        <li class="how-to-work__list-item">Увеличивает продолжительность полового акта</li>
                        <li class="how-to-work__list-item">Пробуждает сильное сексуальное желание</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>