<section class="info">
    <div class="info__container container">
        <div class="info__content info__content_story">
            <img src="img/story-01.jpg" alt="" class="info__img info__img_story">
            <div class="info__descr info__descr_story">
                <p class="info__text info__text_story">
                   Наши врачи несколько лет работали в Турции,
                   собирая секретные ингредиенты древнетурецких средств
                   для повышения потенции. Мы запатентовали <span>Сила Султана</span>,
                   получили официальное право производить и реализовывать
                   препарат по России и в странах СНГ. Все подтверждающие
                   документы и лицензии в электронном виде расположены
                   на странице нашего сайта. 
                </p>
            </div>
        </div>
    </div>
</section>